@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0;300;0;400;0;500;0;600;0;700;1;100;1;200;1;300;1;400;1;500;1;600;1;700&family=Montserrat:wght@700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#6ab446;
}

.navbar-brand {
    width: 3em;
    font-weight: 500;
    margin-bottom: auto;

}
.nav-link {
    color: #fff;
    cursor: pointer;
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}

.nav-link:active{
    color: rgb(3, 3, 44);
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('img/header1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: #070000d2;
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #6ab446;
    font-weight: 3em;
    font-size: 25px;
}

.description h3{
    color: #fefefe;
    text-align: center;
    font-size: 2em;
    font-weight: 1.5em;
}

.description h3 span {
    background-image: url(img/background1.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 2em;

}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
    text-transform: capitalize;
    text-rendering: initial;
}

.description button {
    border:1px solid #6ab446;
    background:#6ab446;
    border-radius: 0;
    color:#fff;
    align-items: center;
}

.description button a{
    text-decoration: none;
    color: #5a5a5a;
    border: 1px solid #f2f6e9;
    background: #f2f6e9;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

.description button a:hover{
    border:1px solid #a8d691;
    background:#7aa863;
    border-radius: 0;
    color:#fff; 
}



.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}

.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}


.background {
	background: #dedec8;
	padding: 4em 0;
}
.background p{
    color: rgb(10, 8, 8);
    text-transform: inherit;
    text-align: center;
}
.background h3{
    text-align: center;
    font-size: 2em;
}
.background h5{
    color: #589b37;
    text-align: center;
}
.background a{
    text-decoration: none;
    color: #6ab446;
    align-items: center;
    font-size: 1.5em;
}
.team {
	color: #111111;
	padding: 0 180px;
    font-weight: 500;
}
.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}
.team .card {
	background:none;
	border: none;
}
.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}


.contact
{
    position: relative;
    min-height: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img/bg1.jpg);
    background-size: cover;
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}

.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .content p
{
    font-size: 30px;
    color: #8dc6ce;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input, .contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0,5s;
    color: #666;
}

.contactForm ,.inputBox input:focus ~ span,
.contactForm ,.inputBox input:valid ~ span,
.contactForm ,.inputBox textarea:focus ~ span,
.contactForm ,.inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100%;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm{
        width: 100%;
    }
}


.icons{
    top: 50%;
    left: 0;
    position: fixed;
    z-index: 100;
}
.icons ul{
    padding: initial;
}
.icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
}

.facebook{
    background: #3b5998;
}

.twitter{
    background: #06a5d1;
}

.github{
    background: #3d3d3d;
}

.linkedin{
    background: #0082ca;
}

.icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}
 
 


.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}
.footer-copyright {
    color: #666;
    padding: 40px 0;
}

.social-icons {
    margin-top: 30px;
}

.btn {
    padding: 10px 25px 10px 25px;
    border: none;
    font-size: 30px;
}


@media (max-width: 575.98px) {
    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .description h1 {
        font-size: 2em;
    }
 
    .description p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }
}


#demo-modal .modal-content {
    border-radius: 0;
    padding: 2rem;
}
#demo-modal .modal-header {
    border-bottom: none;
}
#demo-modal h4 {
    color: #000;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
}
#demo-modal .close {
    background: #c0c3c8;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    font-weight: normal;
    height: 20px;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 26px;
    width: 20px;
}
#demo-modal .close span {
    position: relative;
    top: -3px;
}
#demo-modal .modal-body p {
    color: #999;
}
#demo-modal .form-control,
#demo-modal .btn {
    min-height: 40px;
}
#demo-modal .btn {
    background-color: #1da098;
    border: none;
    color: #fff;
    min-width: 80px;
    transition: all 0.4s;
}
#demo-modal .btn:hover,
#demo-modal .btn:focus {
    background-color: #12968d;
}